form{
    padding: 20px;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cabecalho-item{
    color: #963c54;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.nav-item{
    display: flex;
    flex-direction: row;
    padding: 15px;
    text-decoration: underline;
    margin: 10px;
}
.btn-1{
    background-color: #770624;
    border-radius: 5px;
    color: white;
}
