body{
   margin: 0;
   padding: 0;

}
h3{
    text-align: center;
    color: #770624;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
}
.cabecalho-item{
    color: #963c54;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.nav-item{
    display: flex;
    flex-direction: row;
    padding: 15px;
    text-decoration: underline;
    margin: 10px;
}
#carouselExampleIndicators{
   padding: 30px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
   justify-content: center;
   margin: 10px;
}
.icon-car{
    margin: 10px;
}
li{
    color: #963c54;
}
.banner{

    justify-content: center;
}
.promo{
    width: 40%;
    height: 40%;
    margin: 10px;
}
#navbarSupportedContent
{
    background-color: #f3f0f0;
    margin: 10px;
}
.card3{
    height: 100px;
    width: 100px;
    margin-right: auto;
    margin-left: 0px;
    padding: 65px 32px 74px;
    border-style: solid;
    border-width: 1px;
    border-color: #bfc1c8;
    background-color: #fff;
    color: #b8b9c2;
}
.prod-img{
    height: 50%;
    width: 25%;
}
.cont{
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;

}
img{
    max-height: 150%;
    min-height: 43px;
}
.bannerprod{
    width: 100%;
    height: 50%;
}
.caixinha{
    background-color: #963c54;
    height: 100%;
}

footer{
    margin: 10px;
    padding: 20px;
}
.icon1{
    margin: 10px;
    display: flexbox;
    flex-direction: row;
    align-items: center;
}
.cabecalho-item-car{
    color: #770624;
}
.btn-1{
    background-color: #770624;
    border-radius: 10px;
    color: white;
}
.link
{
    color: #770624;
}


#closeChatbot img {
    width: 80px; /* Ajuste a largura conforme necessário */
}

#chatbotContainer {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
     /* Ajuste conforme necessário */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    max-height: 400px; /* Altura máxima do chat */
    overflow-y: auto;
}

#openChatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    z-index: 9999;
}
.col-md-3 :hover{
    transform: scale(1.1);
}