/* Em seu arquivo salvos.css */
/* Seção de Salvos */
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px; /* Largura fixa para cada item (ajuste conforme necessário) */
    box-sizing: border-box;
}

.image {
    width: 100%; /* Imagem ocupará 100% da largura da caixa */
    max-height: 150px; /* Altura máxima da imagem */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Botões */
.btn {
    background-color: #963c54;
    color: #b2a9a9fb;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #aa4d66;
}
